---
import Banner from '../components/Banner.astro';
import OurInstitution from '../components/OurInstitution.astro';
import OurInstalls from '../components/OurInstalls.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Projects from '../components/Projects.astro';
import Galery from '../components/Galery.astro';
import Institutional from '../components/Institutional.astro';
---

<Layout title="ITI LPN">
	<main>
		<Institutional/>
		<Footer/>
	</main>
</Layout>

<style>
    main{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }
</style>