<footer>

    <section class="footer">
    <div class="footerimage">
        <img src="/img/logonav.png" alt="">
    </div>

    <div class="mapcontainer">
        <h2>Mapa de navegación</h2>
        <a href="/">Inicio</a>
        <a href="https://www.webcolegios.com/lucio/" target="_blank">Académico</a>
        <a href="/institucional">Institucional</a>
        <a href="/contactanos">Contáctanos</a>
    </div>


    <div>
        <h2>Contacto</h2>
        <p>Celular: +57 3188277125</p>
        <p>Dirección: Transversal 30 N. 7-110</p>
        <p>Barrio: Primavera</p>
        <p>E-mail: ie.itiluciopabon@gmail.com</p>
    </div>

</section>

    <div class="criskop">© CrisKop 2023</div>

</footer>


<style>
    footer .footer{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        padding: 50px;
        background: var(--bg-dark);
    }

    .criskop{
        width: max;
  height: 50px;
  background: #1f1f1b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
    }

    .footerimage{
        width: 300px;
    }

    .mapcontainer{
        display: flex;
        flex-direction: column;
    }

    h2{
        color: var(--title-color);
        font-size: 1.7rem;
    }
</style>