<section>

    <div class="grow">
        <h1>Filosofía</h1>
        <p>Nuestra institución propende por la formación de ciudadanos con valores, competentes e investigadores en ciencia, técnica, tecnología e innovación, incorporando las tics a los procesos de enseñanza aprendizaje orientados hacia la participación responsable y constructiva de las situaciones propias del entorno en que se desempeñen, aportando a la construcción continua de la identidad local, regional y nacional para un cambio social.</p>
    </div>


    <div class="grow">
        <h1>Valores</h1>
        <p>El Instituto Técnico Industrial “Lucio Pabón Núñez” orienta y da sentido e intencionalidad a la comunidad educativa con base en los siguientes valores institucionales:</p>
    </div>

    <div>
        <h1>Libertad</h1>
        <p>No se puede educar en forma integral sin enseñar al alumno el uso de la libertad. la comunidad escolar entiende que ser libre es la facultad de actuar en diversos ámbitos, expresar el pensamiento, plantear propuestas o inquietudes, ejercer la crítica constructiva y manifestarse en todos los sentidos siempre y cuando se respeten los derechos inalienables de la persona, atendiendo la diversidad cultural. la institución hace especial énfasis en que ser libre implica la responsabilidad, pues entiende que en la fusión de estos valores se funda la convivencia de todos los estamentos del plantel y de la sociedad.</p>
    </div>

    <div>
        <h1>Democracia y participación</h1>
        <p>La institución se orienta hacia el desarrollo de las capacidades para participar en la toma de decisiones, en la búsqueda de alternativas a problemas, en el fomento del derecho a elegir y ser elegido y, en general, hacia el conocimiento de los principios y los mecanismos esenciales de la democracia participativa. tanto en la teoría como en la de organizar pedagógica y administrativa la institución para que cumpla en los términos legales y conceptuales con la preparación de estudiantes proactivos, dinámicos y que den respuesta al hombre antropológico, sociológico, y cultural que nuestra sociedad necesita práctica el quehacer educativo debe propiciar oportunidades para que sus miembros apliquen este principio.</p>
    </div>

    <div>
        <h1>Solidaridad</h1>
        <p>La interrelación entre los distintos componentes de la comunidad educativa debe caracterizarse por la cooperación, la ayuda mutua y la sana crítica, pues de esta manera el proceso educativo se nutrirá de todas las fuentes enriqueciendo la actividad del plantel.</p>
    </div>

    <div>
        <h1>Respeto a la ley</h1>
        <p>La institución formará para el respeto a la ley justa y para crear la conciencia de que ésta no solamente es útil sino indispensable para el funcionamiento armónico y productivo de la sociedad.</p>
    </div>

    <div>
        <h1>Conciencia del deber y del derecho</h1>
        <p>La comunidad escolar debe sensibilizar que los deberes son la parte complementaria de los derechos, de modo que el estudiante interiorice, que sin el cumplimiento de unos no puede ejercer los otros. en esta convicción encontrará el verdadero sentido de la libertad.</p>
    </div>

    <div>
        <h1>Sentimiento patrio</h1>
        <p>La comunidad debe desarrollar en sus miembros la sensibilidad y la conciencia social, que los lleven a comprender la compleja problemática de su contexto local, regional y nacional, con los cuales podrán reflexionar crítica y constructivamente en la realidad. formar la convicción profunda de que esta patria es nuestra y la haremos grande con respeto y amor profundos hacia sus instituciones y símbolos.</p>
    </div>

    <div>
        <h1>Cambio</h1>
        <p>La institución está orientada a propiciar en la comunidad educativa una transformación favorable en todos los aspectos, formando personas autónomas, independientes y auténticas que puedan influir en beneficio de la sociedad.</p>
    </div>

    <div>
        <h1>Creatividad</h1>
        <p>En todas sus actividades la comunidad propenderá por el uso estrategias que conlleven a un cambio que permita la innovación acorde con las nuevas tecnologías y cambios en el mundo actual y como promover la investigación como estrategia pedagógica en los procesos de aprendizaje.</p>
    </div>

    <div>
        <h1>Cultura ambiental</h1>
        <p>La institución promoverá el respeto al medio ambiente del cual hace parte. es necesario cultivar en el alumno una conciencia ecológica tendiente al cuidado, respeto y protección de la naturaleza de la cual somos miembros integrantes.</p>
    </div>
    
    <div>
        <h1>Política de calidad</h1>
        <p>La institución educativa Instituto Técnico Industrial “Lucio Pabón Núñez” se compromete con un proceso de mejoramiento continuo que atienda a las necesidades del contexto, que le permita formar ciudadanos con valores, competentes e investigadores en ciencia, técnica, tecnología e innovación, incorporando las tics a los procesos de aprendizaje, contando con el recurso humano idóneo, comprometido con la formación de calidad y el reconocimiento de nuestra labor en los ámbitos municipal, regional y nacional.</p>
        <p>La institución promueve la participación continua de los miembros de la comunidad educativa en el diseño, ajuste y construcción de las diferentes áreas de gestión, permitiendo mantener el isce, en un nivel representativo y responder a las necesidades de los niños, niñas y jóvenes, buscando continuamente la renovación y mejoramiento de la propuesta educativa.</p>
    </div>


        <img src="/img/estructura-escolar-01.png" alt="">
  

</section>

<style>
  h1{
        color: rgb(45, 80, 45);
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }

    p{
        color: var(--text-color);
        font-weight: 400;
        font-size: 1.2rem;
        text-align:left;
    }

    section{
        margin-top: 50px;
        width: 100vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    div{
        width: 90vw !important;
        max-width: 700px;
        border-radius: 5px;
    backdrop-filter: blur(14.8px);
    padding: 2rem;
    box-shadow: 0 2px 10px rgb(0 0 0 / 10%), 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
    background-image: linear-gradient(45deg, rgba(61, 90, 60, 0.349), rgba(66, 60, 90, 0.247));
    width: 100%;
    min-height: 70px;
    mix-blend-mode: hard-light;
    }

    .grow{
        width: 90vw;
       max-width: 1420px !important;
       margin: 0 5vw;
    }

    @media (max-width: 1451px){
        div{
            width: 90vw;
       max-width: 1420px !important;
        }
    }
</style>