<section class="our">
    <div>
    <h1>NUESTRA INSTITUCIÓN</h1>
    </div>

    <section class="text">

    <div>
        <h2>Misión</h2>
        <p>La Institución Educativa Instituto Técnico Industrial «LUCIO PABÓN NÚÑEZ» como institución pública, propende por el desarrollo integral de los niños, adolescentes, jóvenes y adultos en los niveles de educación preescolar, básica, media académica y media técnica; formando ciudadanos con valores, competentes e investigadores en CIENCIA, TÉCNICA, TECNOLOGÍA E INNOVACIÓN.</p>
    </div>

    <div>
        <h2>Visión</h2>
        <p>Visión. La Institución educativa Instituto Técnico industrial “Lucio Pabón Núñez” se posicionará en el 2025 como estamento formador en Valores, Ciencia, Técnica, Tecnología e innovación, incorporando las Tics a los procesos educativos, contando con el recurso humano idóneo, comprometido con la formación de calidad y el reconocimiento de nuestra labor en los ámbitos Municipal, Regional y Nacional.</p>
    </div>

          
</section>

</section>


<style>

    .our{
        display: flex;
        flex-direction: column;
        margin-top: -10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .text{
        padding: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    div{
        max-width: 650px;
    }

    h1{
        color: var(--title-color);
        font-weight: 700;
        font-size: 2rem;
        text-align: center;
    }

    h2{
        color: var(--text-color);
        font-weight: 600;
        font-size: 1.65rem;
        text-align: center;
    }

    p{
        color: var(--text-color);
        font-weight: 400;
        font-size: 1.2rem;
    }
</style>